/*-----------------------------------------------------
UTILITIES
-----------------------------------------------------*/

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.g-10 {
    gap: 10px;
}

.img-content {
    width: 100%;
    display: block;
}